# Snowflake Configuration
SNOWFLAKE_ACCOUNT=dummy_account.region.aws
SNOWFLAKE_USER=KAFKA_CONNECTOR_USER
SNOWFLAKE_ROLE=KAFKA_CONNECTOR_ROLE
SNOWFLAKE_DATABASE=CRYPTO_DB
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_WAREHOUSE=CRYPTO_WH

# Snowflake Key-Pair Auth paths
SNOWFLAKE_PRIVATE_KEY_PATH=./secrets/rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=dummy_passphrase

# Kafka Broker
KAFKA_BOOTSTRAP_SERVERS=localhost:29092
