# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
ENV/
.env

# Secrets
*.pem
*.p8
*.key
profiles.yml
secrets/*
!secrets/.gitkeep

# IDEs
.idea/
.vscode/

# DuckDB
*.duckdb
*.duckdb.wal

# dbt
dbt_internal_packages/
target/
logs/
.user.yml

